<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Graham Arnold">
    <meta name="description" content="gCrypto Dashboard is a practice web app
    that offers any cool crypto related features that I can think up and create!">
    <link rel="shortcut icon" type='image/png' href="{% static 'favicon.png' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'pricestream/css/style.css' %}">
    <script src="{% static 'pricestream/js/config.js' %}"></script>
    <script src="{% static 'pricestream/js/pricestream.js' %}"></script>
    <title>gCrypto Pricestream </title>
  </head>
  <header>
    <!-- <h1> BTC Price is: {{ btc_price.btc_price }} </h1> -->
    <!-- <h2> Last updated {{ btc_price.last_updated }} UTC </h2> -->
  <header>
  <body>
    <!-- <p id="test"> Test Ajax </p> -->
    <!-- <button type="button" onclick="makeApiCall()"> Start Test </button> -->
    <!-- <a href="{% static 'pricestream/dl-files/test.txt' %}" download> link to text download (DL on click) </a> -->
    <div id='priceblock'>
      <p id="btcprice"> </p>
    </div>
  </body>

</html>
