<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Graham Arnold">
    <meta name="description" content="gCrypto Dashboard is a practice web app
    that offers any cool crypto related features that I can think up and create!">
    <link rel="shortcut icon" type='image/png' href="{% static 'favicon.png' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'cryptodash/css/style.css' %}">
    <title>{% block title %} gCrypto Dashboard {% endblock %}</title>
  </head>
  <body>
    {% block content %}{% endblock content %}
  </body>

</html>
